.card-container{
    display: flex;
    flex-direction: column;
    padding: 6%;
    gap: 4rem;
}

.card-design{
    display: flex;
    gap: 4rem;
}

.country-flag{
    width: 400px;
    height: 320px;
}

.country-flag img{
    width: 400px;
    height: 320px;
    object-fit: fill;
}

.country-detail{
    padding: 3%;
}

.important-detail{
    display: flex;
    gap: 6rem;
    padding-bottom: 10%;
    font-size: small;
}

.neighbors{
    display: flex;
    padding-right:4% ;
    font-size: small;
}

.neighbour-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

button{
    width: 120px;
    border-radius: 5px;
    background: inherit;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#b1{
    width: 200px;
}

.backButton{
    height: 50px;
}

/* dark-theme*/

.dark-theme.card-container{
    background-color: rgb(33, 44, 56);
    color: white;
}

.dark-theme button{
    color: white;
    box-shadow: 0 2px 5px white;
}