
/*Title bar design*/

.title{
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
}

.themeChange{
  background: inherit;
  border: none;
}

/* Nav Bar */
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 3% 8%;
}

.search-bar {
  display: flex;
  align-items: center;
  
  padding: 5px;
  border-radius: 4px;
  width: 400px; 
  gap: 3px;
}


.search-icon {
  margin-right: 5px;
}

.search-input {
  border: none;
  outline: none;
  flex: 1;
}

/* for filter drop down*/

#dropdown{
  width: 200px;
  height: 50px;
  padding: 1%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  /* appearance: none; */
}

select {
  /* position: absolute; */
  /* top: 100%; */
  /* left: 0; */
  /* width: 100%; */
  border-radius: 5px;
  border: none;
  outline: none;
  /* padding: 8px 0; */
  margin-top: 10px; /* Add a slight gap between button and dropdown items */
  /*z-index: 1; /* Ensure the dropdown appears above other elements */
}

option {
  padding: 8px 12px;
}
/* country card designing*/

.countryCards{
  display: flex;
  flex-wrap: wrap;
  /* gap: 5rem; */
  justify-content: start;
  width: 100%;
  padding-bottom: 11%;
}

.no-countries{
    margin-left: 35%;
    margin-bottom: 29%;
    margin-top: 5%;
    font-size: x-large;
}
.country-card{
  display: flex;
  flex-direction: column;
  border-color: none;
  border-radius: 5px ;
  width: calc(100%/4 - 8%);
  height: auto;
  overflow: hidden;
  margin-left: 6%;
  margin-bottom: 4%;
}
.country-card:hover{
  cursor: pointer;
}
.flag{
  width: 100%;
  height: 140px;
}
.flag img{
  width: 100%;
  height: 140px;
  object-fit: fill;
}
.country-details{
  padding: 8%;
  padding-bottom: 11%;
}
.countryName{
  font-weight: bolder;
  font-size: large;
  padding-top: 2%;
  padding-bottom: 4%;
}

.countryDetail{
  font-size: small;
}



/* Light theme styles */
.title {
  background-color: white;
  color: black;
}

.nav-bar{
  background-color: rgb(250, 250, 250);
  font-size: small;
}

.themeChange {
  background: inherit;
  border: none;
}

.search-bar{
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: black;
}

#dropdown{
  background-color: white;
}
.countryCards{
  background-color: rgb(250, 250, 250);
}

.country-card{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
}

select{
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.country-card{
  background-color: white;
}


/* Dark theme styles */
.dark-theme.title {
  background-color: #2b3945;
  color: white;
}

.dark-theme .themeChange {
  color: white;
}

.dark-theme .search-bar{
  background-color: #2b3945;
  border: 1px solid #2b3945;
  box-shadow: 0 2px 5px white;
}

.dark-theme .search-input {
  background-color: #2b3945;
  color: white;
}

.dark-theme input::placeholder {
  color: white;
}

.dark-theme #dropdown{
  background-color: #2b3945;
  color: white;
}

.dark-theme .country-card{
  box-shadow: 0 2px 5px white;
}

.dark-theme .no-countries{
  color: white;
}

.dark-theme select{
  box-shadow: 0 2px 5px white;
}

.dark-theme.country-card{
  background-color: #2b3945;
  color: white;
}

.dark-theme.nav-bar{
  background-color: rgb(34, 33, 33);
}

.dark-theme.countryCards{
  background-color: rgb(34, 33, 33);
}

.country-link{
  text-decoration: none;
  color: inherit;
}
